/* silahkan styling disini */

body {
	background-color: #f2f2f2;
	margin: 0;
}

html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* header */
header {
	flex: 1;
	display: flex;
	background-color: #0d0d0d;
	margin: 2rem;
	margin-top: 1rem;
	border-radius: 0.5rem;
	padding-left: 1rem;
	align-items: center;
	animation-name: header;
	animation-duration: 4s;
	position: relative;
}

header h1 {
	color: #f2f2f2;
	flex: 1;
	
}

header h3 a {
	text-decoration: none;
	color: #ffffff;
	flex: 1;
	margin-right: 1.5rem;
}

/* main */
main {
	flex: 1;
}
.container {
	display: flex;
	justify-content: space-around;
}

.deskripsi {
	flex: 1;
	animation-name: deskripsi;
	animation-duration: 5s;
	position: relative;
}

.deskripsi h1 h2 h3 {
	flex: 1;
	margin-left: 4rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
		sans-serif;
	color: #f2f2f2;
}
.deskripsi h2 {
	font-size: 5rem;
	margin-bottom: 1rem;
	margin-left: 10rem;
	animation-name: deskripsi-h2;
    animation-duration: 5s;
	
}
.deskripsi h1 {
	font-size: 5rem;
	margin-top: 0rem;
	margin-left: 15rem;
	margin-bottom: 1rem;
	animation-name: deskripsi-h1;
    animation-duration: 4.5s;
}

.deskripsi h3 {
	font-size: 3rem;
	margin-top: 0rem;
	margin-left: 13rem;
	animation-name: deskripsi-h3;
    animation-duration: 5s;
}

.gambar {
	flex: 0.6;
}

.gambar img {
	width: 20rem;
	animation-name: gambar;
	animation-duration: 5s;
	position: relative;
}

/* footer */

footer {
	flex: 1;
	background-color: #0d0d0d;
}

@keyframes header {
	0% {
		opacity: 0%;
		transform: translateY(-4rem);
	}
	100% {
		opacity: 100%;
		transform: translateY(0rem);
	}
}

@keyframes deskripsi-h2 {
	0% {
		opacity: 0%;
		transform: translateX(-10rem);
	}

	100% {
		opacity: 100%;
		transform: translateX(0rem);
	}
}
@keyframes deskripsi-h1 {
	0% {
		opacity: 0%;
		transform: translateX(-13rem);
	}

	100% {
		opacity: 100%;
		transform: translateX(0rem);
	}
}
@keyframes deskripsi-h3 {
	0% {
		opacity: 0%;
		transform: translateX(-10rem);
	}

	100% {
		opacity: 100%;
		transform: translateX(0rem);
	}
}
@keyframes gambar {
	0% {
		opacity: 0%;
		left: 10rem;
	}

	100% {
		opacity: 100%;
		left: 0;
	}
}

@media screen and (max-width: 425px) {
	/* header */
	header {
		margin: 1rem;
		flex: none;
	}
	header h1 {
		color: #f2f2f2;
		flex: 1;
		font-size: medium;
	}

	header h3 a {
		text-decoration: none;
		color: #ffffff;
		flex: 1;
		margin-right: 1rem;
		font-size: small;
	}

	/* main */
	main {
		margin-top: 3rem;
	}
	.deskripsi {
		margin-left: 0;
	}
	.deskripsi h2 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
		margin-left: 2rem;
	}
	.deskripsi h1 {
		font-size: 3rem;
		margin-top: 0rem;
		margin-left: 4rem;
		margin-bottom: 1rem;
	}
	.deskripsi h3 {
		font-size: 2.5rem;
		margin-top: 0rem;
		margin-left: 2rem;
	}
	.gambar img {
		width: 9rem;
	}

	/* footer */
	footer {
		margin-top: 10%;
	}
}
