/* silahkan styling disini */

body {
	background-color: #f2f2f2;
	margin: 0;
}

/* header */
header {
	display: flex;
	background-color: #0d0d0d;
	margin: 2rem;
	border-radius: 0.5rem;
	padding-left: 1rem;
	align-items: center;
}

header h1 {
	color: #f2f2f2;
	flex: 1;
}

header h3 a {
	text-decoration: none;
	color: #ffffff;
	flex: 1;
	margin-right: 1.5rem;
}

/* main */
.container {
	display: flex;
	justify-content: space-around;
}

.deskripsi {
	flex: 1;
}

.deskripsi h1 h2 h3 {
	flex: 1;
	margin-left: 4rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: #f2f2f2;
}
.deskripsi h2 {
	font-size: 5rem;
	margin-bottom: 1rem;
	margin-left: 10rem;
}
.deskripsi h1 {
	font-size: 5rem;
	margin-top: 0rem;
	margin-left: 15rem;
	margin-bottom: 1rem;
}

.deskripsi h3 {
	font-size: 3rem;
	margin-top: 0rem;
	margin-left: 13rem;
}

.gambar {
	flex: 0.6;
}

.gambar img {
	width: 20rem;
}

/* footer */

footer {
	margin: 0;
	background-color: #0d0d0d;
}

@media screen and (max-width: 425px) {
	/* header */
	header {
		display: flex;
		background-color: #0d0d0d;
		margin: 1rem;
		margin-left: 1rem;
		border-radius: 0.5rem;
		padding-left: 1rem;
		align-items: center;
	}
	header h1 {
		color: #f2f2f2;
		flex: 1;
		font-size: medium;
	}

	header h3 a {
		text-decoration: none;
		color: #ffffff;
		flex: 1;
		margin-right: 1rem;
		font-size: small;
	}

	/* main */
	main{
		margin-top: 5.6rem;
	}
	.deskripsi {
		margin-left: 0;
	}
	.deskripsi h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		margin-left: 2rem;
	}
	.deskripsi h1 {
		font-size: 2rem;
		margin-top: 0rem;
		margin-left: 4rem;
		margin-bottom: 1rem;
	}
	.deskripsi h3 {
		font-size: 1.5rem;
		margin-top: 0rem;
		margin-left: 2rem;
	}
	.gambar {
		flex: 1;
	}
	.gambar img {
		width: 10rem;
	}

	/* footer */
	footer {
		margin: 0.1rem;
		background-color: #0d0d0d;
		margin-top: 8rem;
	}
}
