
.nama{
    color: #d4c7b4;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgb(76, 77, 76);
}


.tombol {
    width: 70%;
    height: 52px;
    
    
}

.bulat {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.colorbtn{
    background-color: #d4c7b4;
}
